*{
    font-family: "Open Sans",sans-serif;
}


header.top-nav{
    background: #f5f5f5;
}

.nav-one a,.nav-two a {
    padding: 10px;
    display: inline-block;

}

.nav-link {
    display: inline;
   padding: 0px;
    margin-left: 5px!important;
}

.nav-one a{
    font-size: 14px;

}

.nav-two a:hover{
    background: #1da1f2;
    color: white!important;
    padding:  10px;
}

.nav-three a {
    padding: 11px;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;

}
.bootom-nav img{
    padding-top: 11px;
}

.bootom-nav{
    padding: 15px 0px;
}

.top-search{
    background-color: #333333;

}

#demo{
    display: none;
}

.top-search input.form-control {
    background: transparent;
    border: none;
    color: white;

}


.home {
    background: url(../images/bg1.jpg)no-repeat scroll center center ;
    background-size: cover;
    position: relative;
    padding-top: 300px;
    padding-bottom: 190px;
    width: 100%;
}

.carousel-inner .carousel-item strong{
    font-weight: 900;
    font-family: serif;
}

.carousel-inner .carousel-item h1 {
    font-size: 48px;
    font-family: serif;
    font-weight: 700;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-top{
    top: 25em;
}

.icon{
float: left;
width: 15%;
display: inline-block;
margin-right: 15px;
}


.icon span{
    font-size: 4rem;
    color: #00a885;
}

.paragraph h3{
    font-size: 1.500em;
    color: #1a1a1a;
    line-height: 2rem;
}

.paragraph p{
    font-size: 14px;
    color: #00a885;
}


.paragraph {
    margin-left: 83px!important;
}

.mid-slider{
    background-color: #f5f5f5;
}


.col-md-6.pt-5.pl-0 {
    box-shadow: 0px 0px 9px -3px;
    border-radius: 4px 4px 0px 0px;
}

.carousel-mid {
    top:-42px;
    left: -5em;
    display: block;
}

.btn-one {
    width: 6%;
    height: 7%;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
    background: aquamarine;
    margin-top: 5px;
}

#midslider .carousel-indicators .active {
    opacity: 1;
    background: #c0de175c;
}

.mid-item h2 {
    font-size: 26px;
    font-weight: 800;
}

.mid-item li {
    font-size: 18px;
    font-weight: 300;
    line-height: 2rem;
}

.mid-item p {
    font-size: 14px;
    font-weight: 500;
    line-height: 2rem;
    color: #333333;
}

.head-title h2 {
    font-weight: 600;
    font-size: 2.250rem;
    font-family: initial;
}

.head-title h5 {
    font-weight: 400;
    font-size: 1.125rem;
    font-family: inherit;
}

.owl-carousel h6 {
    font-size: 1.150em;
    font-family: none;
    margin-top: 23px;
    margin-bottom: 5px;
    line-height: 1.125em;
}

.owl-carousel span {
    font-size: 0.90em;
    font-family: inherit;
}

.bg-gray{
    background: #f5f5f5;
}
.item_img img {
    border-radius: 50%;
}

.item_img {
    float: left;
    position: relative;
}
.item_img span {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ddd;
    text-align: center;
    position: absolute;
    top: 50%;
    right: -25%;
    line-height: 50px;
}

.item_fix:hover span {
    background: #4c4a4a;
    color: white;
    transition: all 0.6s;

}

.item_text h5 {
    font-size: 1.125em;
    line-height: 1.125em;
    color: #2d2c2c;
}

.item_text h6 {
    font-size: 1em;
    line-height: 1.2em;
    color: #4c4a4a;
}

.item_text p {
    font-size: 1.055em;
    line-height: 1.500em;
    font-family: serif;
    color: #615e5e;
}

.item_text {
    width: 70%;
    margin-left: 145px;
}

.item_fix {
    padding: 35px;
    border: 1px solid transparent;
    transition: all 0.6s;
}

.item_fix:hover{
    background-color: white;
}
.img_fix img{
height: 30px;
}

.footer_top{
    background-color: #00a885;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.text-white {
    font-family: Raleway;
    margin: 0px;
    margin-bottom: 10px;
}

.btn-default {
    color: white;
    border: 1px solid;
    border-color: #b6b6b6;
    background: transparent;
    padding: 15px 53px 15px;
    font-family: Raleway;
    font-weight: 500;
    transition: all 0.9s;
}

.btn-default:hover{
    background-color: white;
    color: 444141;
}

.all_about h5 {
    font-weight: 700;
    font-family: Raleway;
    font-size: 1.105em;
}

.all_about p {
    font-family: Raleway;
    line-height: 1.5em;
    color: #989595;
    font-size: 14px;
    
}

.about_content p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.about_content .item_icon {
    color: #8a8888;
    float: left;
    display: inline-block;
    width: 10%;

}

.about_content .item_content {
    width: 90%;
    margin-left: 38px;
    margin-bottom: 33px;
}

.about_content .item_content h6 {
    color: white;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 500;
}

.about_content img{
    float: left;
}

.item_content a {
    text-decoration: none;
    color: #aaaaaa;
    font-size: 12px;
}
.item_content_one:hover p{
    color:white;
}


.all_about li {
    list-style: none;
    font-size: 13px;
    border-bottom: 1px dashed #aaa;
    padding-bottom: 11px;
    margin-top: 17px;
}


.all_about li a {
    text-decoration: none;
    color: #dad4d4;
    font-family: Raleway;
    display: block;
}

.all_about ul {
    padding: 0px;
}

.all_about li:hover a{
color: white;
}

.all_about button {
    background-color: #0ec9a2;
    border-radius: 0;
    color: white;
}

input.form-control {
    border-radius: 0px;
    margin: 0px;
    background: #323333;
    border: none;
    color: white!important;

}

.widget_brand a {
    color: #b9b9b9;
    font-size: 1.9em;
    font-weight: 800;
    font-family: sans-serif;
    margin-left: 0px!important;
}


.icon_two li {
    display: inline-block;
    color: white!important;
    margin-right: 13px;
}

.icon_two li a {
    color: #b9b9b9;
}

.icon_two li:hover a{
    color: white;
}

.bg-dark {
    background-color: #1b1c1dfa !important;
}


.footer_two p {
    padding: 0px;
    margin: 0px;
    font-family: rainway;
}

.footer_two {
    background-color: #1b1b1b;
    color: #b9b9b9;
}

.footer_two i {
    color: red;
    padding: 4px;
}

.footer_two a {
    color: azure;
    font-size: 15px;
}


.last_footer:before {
    content: "";
    position: absolute;
   
    border-top: 19px solid #00a885;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    width: 0;
    height: 0;
    left: 50%;
    z-index: 100;
}

.footer_two span {
    margin-right: 32px;
    cursor: pointer;
    margin-top: -17px;
    background: #00000057;
    padding: 8px;
    border-radius: 5px;
}


